/* faz o aplicão global da CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variaveis que podem ser usadas para todo documento */
/* ativo somente darkmode */
:root {
  --bg-url: url(../img/background.png);
  --text-color: #fff;
  --stroke-color: rgba(0, 185, 252, 0.5);
  --surface-color: rgba(90, 180, 236, 0.1);
  --surface-color-hover: rgba(46, 206, 250, 0.2);
  --switch-btn-url: #c1f3f9 url(../img/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.3);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
  color: var(--text-color);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* class para o modo light */
.light {
  --bg-url: url(../img/light.png);
  --text-color: #000;
  --stroke-color: rgba(1, 94, 131, 0.5);
  --surface-color: rgba(0, 85, 176, 0.1);
  --surface-color-hover: rgba(0, 85, 176, 0.2);
  --switch-btn-url: #043891 url(../img/Vectorsolbra.svg);
  --highlight-color: rgba(0, 85, 176, 0.3);
}
.light #button button {
  animation: slide-in 0.2s forwards;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* alinha os itens */
}
/* # quando se refere ao id */
#profile img {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border: 4px solid var(--stroke-color);
  object-fit: cover;
}
#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}
/* botao */
#button {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#button button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background: var(--switch-btn-url) no-repeat center;
  position: absolute;

  z-index: 1;
  /* camada em que o botão esta */

  top: 50%;
  /* abaixa o botão em 50% */

  transform: translateY(-50%);

  animation: slide-out 0.2s;
}
/* criar uma borda ao selecionar com o mouse */
#button button:hover {
  outline: 8px solid var(--surface-color-hover);
  transition: all 0.2s;
  /* cria uma animação de transição */
}
#button span {
  background: var(--surface-color);
  display: block;
  width: 54px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#links ul {
  list-style: none;
  /* tira as bolas do lista style none  */
  display: flex;
  /* deixar um na frente do outro  */
  flex-direction: column;
  /* estilo de coluna  */
  gap: 16px;
  /* espaçamento de uma ponta a outra */
  padding: 24px;
  /* espaço interno dos itens da lista  */
}
#links ul li a {
  display: flex;
  align-items: center;
  /* centraliza e alinha os itens  */
  justify-content: center;
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background: var(--surface-color);
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}
#links ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}
#redeSocial {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;
  font-size: 24px;
}
#redeSocial a {
  text-decoration: none;
  color: var(--text-color);
}
#footer {
  text-align: center;
  font-size: 14px;
  padding: 24px;
}
#footer a {
  text-decoration: none;
  color: var(--text-color);
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
